In [1]:
pip install kafka-python

Requirement already satisfied: kafka-python in /Users/chenphop/.pyenv/versions/3.10.12/lib/python3.10/site-packages (2.0.2)

[notice] A new release of pip is available: 23.0.1 -> 23.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pandas

Requirement already satisfied: pandas in /Users/chenphop/.pyenv/versions/3.10.12/lib/python3.10/site-packages (2.1.3)
Requirement already satisfied: tzdata>=2022.1 in /Users/chenphop/.pyenv/versions/3.10.12/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in /Users/chenphop/.pyenv/versions/3.10.12/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/chenphop/.pyenv/versions/3.10.12/lib/python3.10/site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/chenphop/.pyenv/versions/3.10.12/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/chenphop/.pyenv/versions/3.10.12/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 23.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [56]:
producer = KafkaProducer(bootstrap_servers=['3.80.124.35:9092'],
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [52]:
producer.send('demo-testing', value={'key':'value'})

In [57]:
df = pd.read_csv("data/indexProcessed.csv")

In [58]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [59]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo-testing', value=dict_stock)
    sleep(1)

KeyboardInterrupt:

In [ ]:
producer.flush()